body {
  margin-top: 100px;
}

.navbar {
  height: 100px;
  box-shadow: 0px 0px 5px #888888;
  background-color: #fff;
  margin-bottom:0;
  border-bottom: 1px solid #ccc;
}

.navbar-nav > li > a {
  padding-top: 0px;
  color:#4e4e4e;
  background-color: #ffffff;
  padding-bottom: 0px;
  line-height: 99px;
}


.navbar-nav > li > a:hover {
  background-color: #ffffff !important;
  padding-bottom: 0px;
  padding-top: 0px;
  line-height:99px;
  border-bottom: 1px solid #ccc;
}

.intro {
  background: url('../images/intro.jpg') top center;
  height:730px;
}

#our-craft {
  background-color: #f5f5f5;
}

#the-tech-stuff {
  background-color: #ffffff;
}

#how-we-work {
  background-color: #f5f5f5;
}

#our-clients {
  background-color: #ffffff;
}

#who-we-are {
  background-color: #f5f5f5;
}

#hire-us {
  background-color: #ffffff;
}

#our-craft .row, #the-tech-stuff .row, #how-we-work .row, #our-clients .row, #who-we-are .row, #hire-us .row {
  margin-bottom:15px;
  margin-top:15px;
}

#our-craft, #the-tech-stuff, #how-we-work, #our-clients, #who-we-are, #hire-us {
  padding-top:20px;
  padding-bottom:20px;
}
#our-craft p,
#the-tech-stuff p,
#how-we-work p,
#our-clients p,
#who-we-are p,
#hire-us p {
  font-size: 15px;
}

#our-craft h2,
#the-tech-stuff h2,
#how-we-work h2,
#our-clients h2,
#who-we-are  h2,
#hire-us h2 {

  color: #55565b;
  font-size: 40px;
}


#our-craft h3,
#the-tech-stuff h3,
#how-we-work h3{
  font-size: 18px;
  margin-top: 0px;
}

#our-craft img,
#how-we-work img,
#the-tech-stuff img,
#our-clients img {
  height: 80px;
}



.lead {
  font-size: 20px !important;
  color: #77787c;
}

.vcenter {
   display: table-cell;
     vertical-align: middle;
}

#our-work img {
  height: 80px;
}


.offset-anchor {
  border-top: 75px solid transparent;
  margin: -75px 0 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

// Because offset-anchor causes sections to overlap the bottom of previous ones,
// we need to put content higher so links aren't blocked by the transparent border.
.container-fluid {
  position: relative;
  z-index: 1;
}
